.slds-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
  }
  
  .slds-modal__container {
    position: fixed;
     top: 35%;
   /* height: 200px; */
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #fff; */
    padding: 20px;
    border-radius: 5px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
  }
  
  .slds-modal__header {
    text-align: center;
  }
  
  .slds-modal__footer {
    text-align: center;
  }
  
  .slds-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
  }
  .slds-grid .slds-col .slds-grid {
    align-items: center;
}

.slds-col .slds-form-element__label {
    margin-right: 50px; /* Adjust this value for the desired space between label and value */
}
.content-section {
  order: 1;
}

.photo-section {
  order: 2;
}