.input-container {

  position: relative;
}
.search-icon {
  position: absolute;
  top: 70%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}
.export-cell button {
  margin: 0 auto;
  display: block;
}

.input-container {
  margin-bottom: 16px; /* Add bottom margin for gap */
}

.datatable-container {
  margin-top: 16px; /* Add top margin for gap */
}

.custom-modal .slds-modal__container {
  width: 20%; /* Adjust the width as per your requirement */
  max-width: 300px; /* Maximum width for the modal */
  height: auto; /* You can set a specific height if needed */
}

.custom-modal .slds-modal__content {
  padding: 0; /* Remove padding to utilize the full width */
  text-align: center; /* Center the content if needed */
}
