.scrollable-container {
    height: 350px;
    overflow-y: scroll;
    /* margin-top: 20px; */
    display: block;
}
.inside-card-first {
    padding-left: 30px;
}
.inside-card-third {
    max-width:35%;
    padding-right: 30px;
    float: right;
}
.inside-card {   
    float: right;
}
.inside-card-body {   
    padding-left: 30px;
}